<!DOCTYPE HTML>
<html>
<head>
  <title>Make it Snappy</title>
  <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="stylesheet" type="text/css" href="bird.css">
</head>

<body ng-app="makeItSnappy" ng-controller="mainCtrl" tabindex="0" ng-keydown="arrows($event)" >

<div id="canvas" ng-click="clickCoords()">
<hr>

<div id="marble" class="marble">
<div class="globe" >
	<div class="bird">
		<div class="body">
	  	<div class="eye left"></div>
	  	<div class="eye right"></div>
	  	<div class="beak"><div></div></div>
	  	<div class="feet"></div>
	    <div class="wire"></div>
		</div>
		<div class="hills"></div>
		<div class="cloud"></div>
		<div class="cloud small"></div>
	</div>
</div>
</div>

<img id="goal" src="http://exchangedownloads.smarttech.com/public/content/72/725b9d68-67a4-408f-8247-5b2365b0cf03/previews/medium/0001.png">	
</div>

</div>

<div id="score">
<h1>Score:</h1>
<h1>{{ score }}</h1>
</div>
<button ng-click="reloadMe()">Restart</button>

<h3 ng-show="done">GAME OVER</h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="./node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="canvas.js"></script>
  <script type="text/javascript" src="sound.js"></script>
</body>
</html>
