body {
	background-color: rgb(129, 219, 192);
}

#canvas {
	border: 1px solid black;
	float: left;
	background-image: url(http://backgrounds.picaboo.com/download/7b/b8/7b81d1046e2c48738771be3ecd97ff89/plain%20sky%20and%20clouds.jpg);
	width: 75vw;
	height: 100vh;
}



#score {
	width: 16vw;
	height: 40vh;
	border: 1px solid black;
	float: left;
	margin-left: 2vw;
	margin-top: 20vh;
	background-color: rgb(243, 250, 180);
	font-size: 30px;
	font-family: Courier New;
	text-align: center;
}



.marble {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: blue;
	position: absolute;
	right: 60%;
	bottom: 0vh;
	-webkit-animation-name: roll;
	-webkit-animation-duration: 7s;
	-webkit-animation-timing-function: linear; 
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes roll {
	from {bottom: 0%;}
	to {bottom: 90%;}
}


h1 {
	margin-left: 5px;
}

h3 {
	width: 300px;
  	height: 150px;
	font-size: 40px;
  font-family: Courier New;
  margin-left: 65px;
  display: inline;
  text-align: center;
}


#goal {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: 2px solid;
	border-color: blue;
	position: absolute;
	right: 60%;
	bottom: 75vh;
}

.marbleDone {}

button {
	margin-left: 130px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  background-color: white;
  border-color: rgb(148, 148, 148);
  font-size: 15px;
}

button:hover {
	border-color: black;
	border-width: 3px;
}